BOT_TOKEN=YOUR_BOT_TOKEN
DATABASE_URL=YOUR_DATABASE_URL
FRAGMENT_API_KEY=YOUR_FRAGMENT_API_KEY
FRAGMENT_JWT_KEY=YOUR_FRAGMENT_JWT_KEY
TON_WALLET_ADDRESS=YOUR_TON_WALLET_ADDRESS
TON_WALLET_MNEMONIC="word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24"
TONCENTER_API_URL=https://toncenter.com/api/v2
TONCENTER_API_KEY=YOUR_TONCENTER_API_KEY
HELEKET_API_KEY=YOUR_HELEKET_API_KEY
HELEKET_MERCHANT_ID=YOUR_HELEKET_MERCHANT_API
HELEKET_WEBHOOK_URL=YOUR_HELEKET_WEBHOOK_URL
MINI_APP_URL=YOUR_PUBLIC_HTTPS_MINI_APP_URL
