BOT_TOKEN=YOUR_BOT_TOKEN
DATABASE_URL=YOUR_DATABASE_URL
FRAGMENT_API_KEY=YOUR_FRAGMENT_API_KEY
FRAGMENT_JWT_KEY=YOUR_FRAGMENT_JWT_KEY
TON_WALLET_ADDRESS=YOUR_TON_WALLET_ADDRESS
HELEKET_API_KEY=YOUR_HELEKET_API_KEY
HELEKET_MERCHANT_ID=YOUR_HELEKET_MERCHANT_API
HELEKET_WEBHOOK_URL=YOUR_HELEKET_WEBHOOK_URL