# Python bytecode and cache
__pycache__/
*.py[cod]

# userbot data
userbot_session.session

# Virtual environments
.env
.venv
env/
venv/

# Logs and local files
*.log

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
.coverage.*
htmlcov/

# Mypy cache
.mypy_cache/

# Hypothesis tests
.hypothesis/

# tox environments
.tox/

# JetBrains IDEs
.idea/
*.iml

# Jupyter notebooks
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Packages and distributions
build/
dist/
*.egg-info/

# Frontend
webapp/node_modules/
webapp/dist/
